<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <div id="alert" class="alert"></div>
        <p>Logged in as <b><%= email %></b></p>
        <form
          id="calendlyForm"
          onsubmit="addCalendlyLink(event, '<%= email %>', document.getElementById('link').value)"
        >
          <div class="form-group">
            <label for="link">Calendly Link:</label>
            <input
              class="form-control"
              id="link"
              placeholder="Enter valid calendly"
              value="<%= calendlyLink %>"
            />
            <button id="submit-link" type="submit" class="btn btn-primary mt-3">
              Submit
            </button>
          </div>
        </form>

        <div class="mt-5">
          <button
            class="btn btn-primary"
            id="start-watch"
            onclick="startWatch('<%= email %>')"
          >
            Start Watch
          </button>
          <button
            class="btn btn-danger"
            id="stop-watch"
            onclick="stopWatch('<%= email %>')"
          >
            Stop Watch
          </button>
        </div>

        <div class="mt-3">
          <a href="/" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </main>
    <%- include('../script'); %>
  </body>
</html>
